<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creative works</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div>
    <div class="container h1 text-left">
        Stages
    </div>
    <br>
    <div class="h3 nav-link">
        <table class="table table-dark">
            <thead class="table-borderless tab-content text-center">
            <tr>
                <th><a th:href="@{/}">Home</a></th>
                <th><a >Authors</a></th>
                <th><a th:href="@{/creative_works}">Creative works</a></th>
                <th><a th:href="@{/genres}">Genres</a></th>
                <th><a >Personages</a></th>
                <th><a >Specifications</a></th>
            </tr>
            <tr>
                <th><a >Theatres</a></th>
                <th><a >Departments</a></th>
                <th><a >Employees</a></th>
                <th><a >Bank details</a></th>
                <th><a >...</a></th>
                <th><a >...</a></th>
            </tr>
            <tr>
                <th><a >Performances</a></th>
                <th><a >Acts</a></th>
                <th><a >Scenography</a></th>
                <th><a >...</a></th>
                <th><a >...</a></th>
                <th><a >...</a></th>
            </tr>
            <tr>
                <th><a th:href="@{/sex}">Sex</a></th>
            </tr>
            </thead>
        </table>
    </div>
    <div> <!-- Основное содержимое -->
        <div class="container h1 text-left" >
            Home
        </div>

    </div>
</div>
</body>
</html>